[rhel-nightly]
name=Nightly RHEL 7
baseurl=http://download.eng.bos.redhat.com/nightly/RHEL-{{ rhel_version }}-{{ nightly_version }}/compose/Server/$basearch/os
gpgcheck=0
enabled=1

[rhel-server-optional-nightly]
name=Nightly RHEL 7
baseurl=http://download.devel.redhat.com/nightly/RHEL-{{ rhel_version }}-{{ nightly_version }}/compose/Server-optional/$basearch/os/
gpgcheck=0
enabled=1