export OS_AUTH_TYPE=v3password
export OS_AUTH_URL=https://{{ hostname }}:5000/v3
export OS_USERNAME=admin
export OS_PASSWORD={{ keystone_admin_password }}
export OS_PROJECT_NAME=admin
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_DOMAIN_ID=default
export OS_IDENTITY_API_VERSION=3
