[general]

CONFIG_DEFAULT_PASSWORD=password
CONFIG_MARIADB_INSTALL=y
CONFIG_GLANCE_INSTALL=y
CONFIG_MANILA_INSTALL=n
CONFIG_NOVA_INSTALL=y
CONFIG_NEUTRON_INSTALL=n
CONFIG_HORIZON_INSTALL=y
CONFIG_SWIFT_INSTALL=n
CONFIG_CEILOMETER_INSTALL=n
CONFIG_HEAT_INSTALL=n
CONFIG_SAHARA_INSTALL=n
CONFIG_TROVE_INSTALL=n
CONFIG_IRONIC_INSTALL=n
CONFIG_CLIENT_INSTALL=n
CONFIG_NAGIOS_INSTALL=n
CONFIG_DEBUG_MODE=n
CONFIG_USE_EPEL=n

CONFIG_SSL_CACERT_SELFSIGN=n
CONFIG_SSL_CACERT_FILE=/etc/ipa/ca.crt
CONFIG_SSL_KEY_FILE={{ ssl_key }}

CONFIG_AMQP_BACKEND=rabbitmq
CONFIG_KEYSTONE_ADMIN_TOKEN={{ admin_token }}

CONFIG_KEYSTONE_SERVICE_NAME=httpd
CONFIG_KEYSTONE_IDENTITY_BACKEND=sql
CONFIG_KEYSTONE_DB_PW={{ keystone_db_password }}

CONFIG_CINDER_BACKEND=lvm
CONFIG_CINDER_VOLUMES_CREATE=y
CONFIG_CINDER_VOLUMES_SIZE=20G
CONFIG_CINDER_DB_PW={{ cinder_db_password }}
CONFIG_CINDER_KS_PW={{ cinder_password }}

CONFIG_GLANCE_KS_PW={{ glance_password }}

CONFIG_NOVA_SCHED_CPU_ALLOC_RATIO=16.0
CONFIG_NOVA_SCHED_RAM_ALLOC_RATIO=1.5
CONFIG_NOVA_COMPUTE_MANAGER=nova.compute.manager.ComputeManager
CONFIG_NOVA_NETWORK_NUMBER=1
CONFIG_NOVA_NETWORK_SIZE=255
CONFIG_NOVA_NETWORK_VLAN_START=100
CONFIG_NOVA_NETWORK_AUTOASSIGNFLOATINGIP=n
CONFIG_NOVA_KS_PW={{ nova_password }}
CONFIG_NOVA_DB_PW={{ nova_db_password }}

CONFIG_HORIZON_SSL=y
CONFIG_HORIZON_SSL_CACERT=/etc/ipa/ca.crt
CONFIG_HORIZON_SSL_KEY={{ ssl_key }}
CONFIG_HORIZON_SSL_CERT={{ ssl_cert }}

CONFIG_VNC_SSL_CERT={{ ssl_cert }}
CONFIG_VNC_SSL_KEY={{ ssl_key }}

CONFIG_PROVISION_TEMPEST=n

CONFIG_PROVISION_IMAGE_NAME=cirros
CONFIG_PROVISION_IMAGE_URL=http://download.cirros-cloud.net/0.3.3/cirros-0.3.3-x86_64-disk.img
CONFIG_PROVISION_IMAGE_FORMAT=qcow2
CONFIG_PROVISION_IMAGE_SSH_USER=cirros

CONFIG_NOVA_COMPUTE_PRIVIF={{ ansible_default_ipv4.interface }}
CONFIG_NOVA_NETWORK_PRIVIF={{ ansible_default_ipv4.interface }}
CONFIG_NOVA_NETWORK_PUBIF={{ ansible_default_ipv4.interface }}
