export OS_AUTH_TYPE=v3unscopedsaml
export OS_AUTH_URL=https://openstack.{{ ipa_domain }}:5000/v3
export OS_IDENTITY_PROVIDER=ipsilon
export OS_IDENTITY_PROVIDER_URL=https://ipa.{{ ipa_domain }}/idp/saml2/SSO/SOAP
export OS_PROTOCOL=saml2
export OS_PROJECT_NAME=demo
export OS_PROJECT_DOMAIN_ID=default
export OS_IDENTITY_API_VERSION=3

if [ -z "$OS_USERNAME" ]; then
    echo -n "IPA Username: "
    read -r OS_USERNAME
    export OS_USERNAME
fi

if [ -z "$OS_PASSWORD" ]; then
    echo -n "IPA Password: "
    read -sr OS_PASSWORD
    export OS_PASSWORD
    echo
fi
