export OS_AUTH_TYPE=v3fedkerb
export OS_AUTH_URL=https://openstack.{{ ipa_domain }}:5000/v3
export OS_IDENTITY_PROVIDER=sssd
export OS_PROTOCOL=kerberos
export OS_PROJECT_NAME=demo
export OS_PROJECT_DOMAIN_ID=default
export OS_IDENTITY_API_VERSION=3
