<LocationMatch  "(/v3/OS-FEDERATION/identity_providers/sssd/protocols/kerberos/auth|/v3/auth/OS-FEDERATION/websso/kerberos)"  >
    AuthType GSSAPI
    AuthName GSSAPI-SSO
    GssapiCredStore keytab:/etc/httpd/conf/openstack.keytab
    GssapiSSLonly On
    Require valid-user
    LookupUserAttr mail REMOTE_USER_EMAIL
    LookupUserGroups REMOTE_USER_GROUPS ;

    SetEnv IDP_ID SSSD
</LocationMatch>

<Location /v3/auth/OS-FEDERATION/websso/saml2>
    MellonEnable "auth"
    MellonSPPrivateKeyFile "/etc/httpd/saml2/websso/certificate.key"
    MellonSPCertFile "/etc/httpd/saml2/websso/certificate.pem"
    MellonSPMetadataFile "/etc/httpd/saml2/websso/metadata.xml"
    MellonIdPMetadataFile "/etc/httpd/saml2/idp-metadata.xml"
    MellonEndpointPath /v3/auth/OS-FEDERATION/websso/saml2
    MellonVariable "saml-sesion-cookie"
    # Comment out the next two lines if you want to allow logins on bare HTTP
    MellonsecureCookie On
    SSLRequireSSL
    MellonUser "NAME_ID"
    MellonIdP "IDP"
    MellonSessionLength 3600
    # MellonNoCookieErrorPage "https://idp.example.com/no-cookie-error.html"
    # MellonPostDirectory "/var/lib/ipsilon/post_cache"
    # MellonPostReplay On
    MellonMergeEnvVars On
</Location>

<Location /v3/OS-FEDERATION/identity_providers/ipsilon/protocols/saml2/auth>
    MellonEnable "auth"
    MellonSPPrivateKeyFile "/etc/httpd/saml2/ecp/metadata.key"
    MellonSPCertFile "/etc/httpd/saml2/ecp/metadata.cert"
    MellonSPMetadataFile "/etc/httpd/saml2/ecp/metadata.xml"
    MellonIdPMetadataFile "/etc/httpd/saml2/idp-metadata.xml"
    MellonEndpointPath /v3/OS-FEDERATION/identity_providers/ipsilon/protocols/saml2/auth
    MellonVariable "saml-sesion-cookie"
    # Comment out the next two lines if you want to allow logins on bare HTTP
    MellonsecureCookie On
    SSLRequireSSL
    MellonUser "NAME_ID"
    MellonIdP "IDP"
    MellonSessionLength 3600
    # MellonNoCookieErrorPage "https://idp.example.com/no-cookie-error.html"
    # MellonPostDirectory "/var/lib/ipsilon/post_cache"
    # MellonPostReplay On
    MellonMergeEnvVars On
</Location>
