[
    {
        "local": [
            {
                "user": {
                    "name": "{0}",
                    "domain": {"name": "Default"}
                }
            }
        ],
        "remote": [
            {
                "type": "REMOTE_USER"
            }
        ]
    },

    {
        "local": [
            {
                "groups": "{0}",
                "domain": {
                    "name": "Default"
                }
            }
        ],
        "remote": [
            {
                "type": "REMOTE_USER_GROUPS",
                "whitelist": ["ipausers", "admins"]
            }
        ]
    },

    {
        "local": [
            {
                "group": {
                    "name": "services",
                    "domain": {
                        "name": "Default"
                    }
                }
            }
        ],
        "remote": [
            {
                "type": "GSS_NAME",
                "any_one_of": [
                    "glance/openstack.{{ ipa_domain }}@{{ ipa_realm }}",
                    "cinder/openstack.{{ ipa_domain }}@{{ ipa_realm }}",
                    "nova/openstack.{{ ipa_domain }}@{{ ipa_realm }}",
                    "barbican/openstack.{{ ipa_domain }}@{{ ipa_realm }}",
                    "neutron/openstack.{{ ipa_domain }}@{{ ipa_realm }}"
                ]
            }
        ]
    }
]
